{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "true": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off"
  }
}
